# Runtime artifacts
__pycache__/
*.py[cod]
#*.db
#instance/
!instance/.gitkeep
instance/config.ini
CLAUDE.md

# Environments
venv/
.venv/
.vscode
.env
.env.*
!.env.example
!.env.development
.claude
CLAUDE.md

# OS / tools
.DS_Store
Thumbs.db
