<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prendre écran</title>
    <link rel="stylesheet" href="/Styles/common.css">
    <link rel="stylesheet" href="/Styles/prendre.css">
    <link rel="icon" href="/Images/Logo.png" type="image/png">
</head>
<body>
    <!--Page pour prendre un écran -->
    <div class="container">
        <a href="/index" class="admin-link">Retour au menu</a>
        
        <h1>Prendre un écran</h1>
        
        <form method="POST">
            <div class="form-container">
                <input type="text" name="ref_ecran" placeholder="Ref écran" required autofocus>
                <button type="submit">Prendre</button>
            </div>
        </form>

        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}

        {% if n_value %}
            <p class="n-value">l'écran est a l'emplacement : {{ n_value }}</p>
        {% endif %}
    </div>
</body>
</html>
