<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranger écrans</title>
    <link rel="stylesheet" href="/Styles/common.css">
    <link rel="stylesheet" href="/Styles/ranger.css">
    <link rel="icon" href="/Images/Logo.png" type="image/png">
</head>
<body>
    <!--Page utilisée pour ranger un écran et gérer le statut de lavage -->
    <div class="container">
        <h1>Ranger écrans</h1>
        <a href="{{ url_for('index') }}" class="admin-link">Retour au menu</a>
        
        <form method="POST">
            <label for="ref_ecran">Choisissez un écran à ranger :</label>
            <select name="ref_ecran" id="ref_ecran" required>
                {% for ecran in serigraphies %}
                <option value="{{ ecran['ref_ecran'] }}">
                    {{ ecran['libelle'] }} {{ecran['ref_ecran']}}
                </option>
                {% endfor %}
            </select>

            <label for="lavee">L'écran a-t-il été lavé ?</label>
            <select name="lavee" id="lavee" required>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>

            <button type="submit">Ranger</button>
        </form>

        <!-- Affiche l'emplacement si disponible -->
        {% if error %}
        <p class="error-message" style="color: red;">{{ error }}</p>
        {% endif %}

        {% if emplacement %}
        <p class="n-value">L'emplacement pour ranger est : {{ emplacement }}</p>
        {% endif %}
    </div>
    <script src="/Functions/rotation.js"></script>
</body>
</html>
