/* --- Styles spécifiques à la page d'ajout d'utilisateur --- */

body {
    align-items: center;
}

.form-container {
    width: 90%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #feed00;
}

h2 {
    color: white;
    margin-bottom: 1rem;
}

.confirmation-message {
    margin-top: 2rem;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: #feed00;
    cursor: pointer;
    vertical-align: middle;
}