/* --- Styles spécifiques à la page d'ajout d'utilisateur --- */

body {
    align-items: center;
}

.form-container {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #feed00;
}

h2 {
    color: white;
    margin-bottom: 1rem;
}

.confirmation-message {
    margin-top: 2rem;
}