/* --- Styles spécifiques à la page de connexion --- */

body {
    align-items: center;
    padding: 0; /* La page de login n'a pas besoin de padding */
}

.login-container {
    background: #191B2A;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 360px;
}

button {
    padding: 14px;
    margin-bottom: 10px;
}

.shutdown-button {
    background-color: #d9534f; /* Rouge */
    color: white;
}

.shutdown-button:hover {
    background-color: #c9302c; /* Rouge plus foncé */
}

.error {
    color: red;
    margin-top: 1rem;
    background-color: transparent; /* Annule le fond des messages d'erreur communs */
}
