/* --- Styles spécifiques à la page "prendre" --- */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A2D46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ et Edge */
    user-select: none; /* Standard */
}

.container {
    background: #191B2A;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-container {
    background: #191B2A;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.message {
    color: #feed00;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

