body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2A2D46; /* Couleur de fond */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #191B2A; /* Couleur du container */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    color: #feed00; /* Couleur jaune */
    margin-bottom: 1rem;
}

label {
    color: white;
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #2A2D46;
    color: #ffffff;
    border: 1px solid #2A2D46;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus, select:focus {
    border-color: #feed00;
    outline: none;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #feed00; /* Jaune */
    color: #191B2A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.confirmer {
    width: 100%;
    padding: 0.7rem;
    background-color: #F44336;
    color: #191B2A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.confirmer:hover{
    background-color: #b63127;
}
.cancel-btn{
    width: 100%;
    padding: 0.7rem;
    background-color: #feed00; /* Jaune */
    color: #191B2A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.cancel-btn:hover{
    background-color: #FFC800;
}

button:hover {
    background-color: #FFC800; /* Variation au survol */
}

/* Bouton de retour, placé en haut à droite */
.admin-link {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #feed00;
    color: #191B2A;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.flash {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
}

.flash.success {
    background-color: #4CAF50;
    color: white;
}

.flash.error {
    background-color: #F44336;
    color: white;
}
.flash.confirm {
    background-color: #FFC107; /* Jaune pour confirmation */
    color: #191B2A;
}
.button-group {
    display: flex;
    justify-content: space-between; /* Pour espacer les boutons */
    gap: 1rem; /* Espacement entre les boutons */
    margin-top: 1rem; /* Espacement entre le texte et les boutons */
}

button, .cancel-btn {
    width: 48%; /* Les boutons occupent chacun environ la moitié de la largeur */
}
